<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eaternational - Snacks You've Probably Never Had Before</title>
  <link rel="stylesheet" href="https://use.typekit.net/wve8abv.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>

<body>
    <div id="header">
		<a href="index.html" class="logo">
			<img src="/imgs/P2-main-banner.png" alt="banner">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="about.html">about</a>
			</li>
			<li>
				<a href="regions.html">regions</a>
			</li>
			<li>
				<a href="cart.html">cart</a>
			</li>
		</ul>
		<hr> 		
	</div>
    <div id="body">
		{{{body}}}
		{{!-- <ul>
			<li>
				<a href="#" id="button_1" data-region="latin-america">
					<img id="button_1" src="/imgs/buttons/Button_1.png" alt="Button_1">
					<span>Latin America</span>
				</a>
			</li>
			<li>
				<a href="#" id="button_2" data-region="europe">
					<img id="button_2" src="/imgs/buttons/Button_2.png" alt="Button_2">
					<span>Europe</span>
				</a>
			</li>
			<li>
				<a href="#" id="button_3" data-region="middle-east">
					<img id="button_3" src="/imgs/buttons/Button_3.png" alt="Button_3">
					<span>Middle East</span>
				</a>
			</li>
			<li>
				<a href="#" id="button_4" data-region="africa">
					<img id="button_4" src="/imgs/buttons/button_4.png" alt="button_4">
					<span>Africa</span>
				</a>
			</li>
			<li>
				<a href="#" id="button_5" data-region="asia">
					<img id="button_5" src="/imgs/buttons/Button_5.png" alt="Button_5">
					<span>Asia</span>
				</a>
			</li>
		</ul> --}}
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2023 by Eaternational. All Rights Reserved</p>
	</div>
</body>

</html>