<div id="body">
	<div id="featured">
		<img src="/imgs/snack imgs/Europe/super_dickmanns_mousse_germany.jpg" alt="Dickmann's snacks">
		<div>
			<h2>Check Out Our Staff Pick!</h2>
			<span>Gobble up some Super Dickmann's today
				and taste the luxurious dark chocolate,
				 wafer, jam and marshmallowy treat!</span>
		</div>
	</div>
</div>		