<ul>
    {{#each products as |product|}}
    {{> product-detail}}
    {{/each}}
</ul>
<div>
    {{> regions}}	
</div>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}